<div class="card">
      <h3 class="card-header">About</h3>
      <div class="card-body">
          <p>Blog-APP es una aplicación en la cuál al crearte una cuenta podrás crear articulos de lo que vos quieras, actualizarlos y borrarlos (cada usuario mediante el id del mismo va a tener sus propios articulos ningun otro podrá verlo a menos q entren con tu usuario) y por ultimo podrás cerrar sesión y volver a abrila cuando lo desees</p>
      </div>
</div>