<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 ">Nodejs-Mongodb Blog App</h1>
    <p class="lead">Proximamente se podrá iniciar sesión con Google y Facebook</p>
  </div>
</div>
