<div class="row">
    <div class="col-md-5 mx-auto">
<div class="card">
    <div class="card-header">
        <h1 class="card-title">Account Log in</h1>
    </div>
    <img src="/img/logo.jpg" alt="logo" class="rounded-circle mx-auto d-block m-4 logo">
    <div class="card-body">
        <form action="" method="post">
            <div class="form-group"><label for="Email">Email</label><input type="email" name="email" id="email" class="form-control" required></div>
            <div class="form-group"><label for="Password">Password</label><input type="password" name="password" id="password" class="form-control" required></div>
            <button type="submit" class="btn btn-success btn-block">Signin</button>

        </form>
        <br>
<a href="/auth/google/" class="btn  btn-outline-danger btn-block"><i class="fab fa-google"></i> Log in with Google</a>
    </div>
</div>
    </div>
</div>